body {
    background-color: #E5F9DB;
    font-family: 'Darumadrop One', cursive;
    text-align: center;
    font-size: 25px;

    background-image: url(https://w0.peakpx.com/wallpaper/158/542/HD-wallpaper-jai-shree-krishna-bhagwan-lord-radhe-shree-krishna-shri-krishna.jpg);
    color: rgba(0, 255, 255, 0.633);

    width: 100%;
    float: left;
    height: 100%;
    background-size: 100%;
    background-repeat: inherit;
}

h1 {
    color: rgb(30, 20, 229);
    font-family: 'Sacramento', cursive;
    font-size: 100px;
    text-decoration:wavy;
}

.container {
    padding-top: 90px;
}

button {
    border-radius: 30%;
    padding: 10px;
    width: 40%;
    height: auto;
    text-shadow: #E5F9DB;
    border-color: rgb(255, 0, 0);

    border-top: 0px;

}

.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}
